@use '../../../../styles.scss' as *;
.card{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 5px;
    height: 150px;
    background: $secundario;
    .card-body{
        text-align: left;
    }
}