@use '../../../../styles.scss' as *;
.card{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 5px;
    background: $secundario;
    .card-body{
        text-align: left;
    }
    .btn{
        background: $principal;
        float: right;
        margin-right: 10px;
    }
    .like{
        float:left;
    }
}