body{
    margin: 0 auto;
    font-family: Helvetica;
    font-weight: 500;
}
.hide{
    display: none;
}
$principal : linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,119,250,1) 0%, rgba(89,100,241,1) 50%, rgba(51,103,244,0.9444152661064426) 100%);
$secundario : linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,240,240,1) 0%, rgba(228,225,225,1) 50%, rgba(236,236,236,0.9444152661064426) 100%);
